body {
    background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.istockphoto.com%2Fillustrations%2Fdental-hygienist-background&psig=AOvVaw04GxKPRiGv7vIW3CTEtjCq&ust=1629880064458000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLiL08aeyfICFQAAAAAdAAAAABAD");
    background-repeat: repeat;
}

#nav-bar {
    font-family: 'Jost', sans-serif !important;
    font-size: xx-large !important;
}

#team-cards {
    font-family: 'Roboto', sans-serif !important;
    font-size: medium;
}